<template>
    <div>
        页面内容区域
    </div>
</template>

<script setup name="{{ properCase componentName }}">
// const { proxy } = getCurrentInstance()
// const router = useRouter()
// const route = useRoute()
// const store = useStore()
</script>

<style lang="scss" scoped>
// scss
</style>
