/* 全局样式 */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope, system-ui, sans-serif;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
